:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --justify-content: center;
  --text-decoration: none;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h3 {
  justify-content: var(--justify-content);
  justify-content: space-between;
  text-align: center;
}
h1 {
  padding-top: 60px;
  margin-bottom: -60px;
  font-size: 48px;
}
#h2 {
  font-size: 96px;
}

h3 {
  font-size: 22px;
  opacity: 0.6;
}
.text-2 {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.column-1 {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background: var(--secondary-color);
}
.column-2 {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background: var(--secondary-color);
}
footer {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman";
}
#email {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  display: block;
  text-align: center;
  padding-top: 20px;
}
#email:hover {
  text-decoration: underline;
}
#back_to_homepage {
  display: block;
  text-align: center;
  color: var(--primary-color);
}
#back_to_homepage:hover {
  text-decoration: none;
}

#contact_me_button,
#about_me_button {
  text-decoration: var(--text-decoration);
}
#contact_me_button {
  background: white;
  padding: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
#contact_me_button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
#about_me_button {
  background: #6c63ff;
  padding: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: var(--box-shadow);
}
#about_me_button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
#navigation_links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 30px;
}
